/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Sunflower', sans-serif;
  color: #007765;
}

a, a:link, a:visited, a:hover {
  color: white;
  padding: 1rem;
  text-decoration: none;
}
